.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    padding: 1rem;
    border-radius: .25rem;

    text-align: justify;
    font-size: 0.875rem;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;

    appearance: none;

    border: none;
    cursor: pointer;
}

.green {
    background-color: var(--verde-logo);
    color: var(--branco)
}

.darkBlue {
    background-color: var(--azul-escuro);
    color: var(--branco)
}

.redOutline {
    background-color: var(--branco);
    color: var(--vermelho);
    border: .125rem solid var(--vermelho);
}

.white {
    background-color: var(--branco);
    color: var(--preto);
}
