.card {
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    border-radius: 0.25rem;
    background: var(--branco);
    box-shadow: var(--sombra);
    font-size: 1.25rem;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}
  
.restrictName{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--preto);
    text-align: justify;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1rem;
}
  
.restrictAction{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.restrictAction a{
    text-decoration: none;
    color:var(--vermelho);
    text-align: justify;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1rem;
    cursor: pointer
}
