.wrapper {
    grid-area: studentCard;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    
    padding: 1.5rem;

    border-radius: 0.25rem;
    background: var(--branco);
    box-shadow: var(--sombra);
}

.top {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
}

.nameAndMatricula{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.field{
    display: grid;
    row-gap: .5rem;
    font-weight: bold;
}

.studentPhoto img{
    border-radius: 50%;
}

.title{
    color: var(--preto);
    text-align: justify;
    font-weight: bold;
}

.campusAndShift{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1rem;
}

.codeAndMaturity{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1rem;
}