.card {
    display: flex;
    max-width: 34.812rem;
    padding: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
    border-radius: 0.25rem;
    background: var(--branco);
    box-shadow: var(--somnbra);
    font-size: 1.25rem;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.nameRegist{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.studentPhoto img{
    border-radius: 8.25rem;
    background: lightgray 50% / cover no-repeat, #D9D9D9;
}

.title{
    color: var(--preto);
    text-align: justify;
    font-family: Roboto;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1rem;
}

.group{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
}

.campTurn{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5.875rem;
}

.codeMatu{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}