.card {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    border-radius: 0.25rem;
    background: var(--vermelho);
    font-size: 1.25rem;
}

.top {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    color: var(--branco);
    text-align: justify;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1rem;
}

.content{
    color: var(--branco);
    text-align: justify;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn_confirm{
    display: flex;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem;
    background: var(--branco);
    color: var(--preto);
    text-align: justify;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1rem;
    border: none;
    cursor: pointer;
}
