.black {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 24px;

    padding: 16px;
    
    font-weight: bold;
    color: white;
    background: var(--preto);
    font-size: 16px;
    border-radius: 4px;
}