.black {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;

    padding: 1rem;
    
    font-weight: bold;
    color: var(--branco);
    background: var(--preto);
    font-size: 1rem;
    border-radius: 0.25rem;
}