.black {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;

    max-height: fit-content;
    padding: 1rem;
    
    font-weight: bold;
    color: var(--branco);
    background: var(--preto);
    border-radius: 0.25rem;
}