.navbar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    padding: 1.6rem 2.4rem;

    background: var(--verde-logo);
    color: var(--verde-logo);
}

@media only screen and (min-width: 768px) {
    .navbar {
        padding: 1.2rem 8rem;
    }
}
