.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: var(--verde-logo);
    color: var(--verde-logo);

    padding: 1rem 1.5rem;
}

.navbar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    max-width: 1200px;

}

@media only screen and (min-width: 1024px) {
    .navbar {
        margin-inline: 1.5rem;
        padding: .5rem 2rem;
    }
}